<% @user.medications.each do |medication| %>
  <h1><a href="/medications/<%= medication.id %>"><%= medication.name %></a></h1>
  <p>Dose: <%= medication.dose %></p>
  <p>Refill Date: <%= medication.refill_date %></p>
  <p>Notes: <%= medication.notes %></p>
<% end %>
<br><br>
<h5><a href="/medications/new">Add a medication</a></h5>