<h1><%=@medication.name%></h1>
<p>Dose: <%= @medication.dose %></p>
<p>Refill Date: <%= @medication.refill_date %></p>
<p>Notes: <%= @medication.notes %></p>
<form action="/medications/<%= @medication.id %>/edit">
  <input type="submit" value="Edit Medication">
</form>
<form method="POST" action="/medications/<%= @medication.id %>">
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Medication">
</form>
<br>
<form action="/medications/index">
  <input type="submit" value="Home">
</form>